# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
* List popular languages for Data Science
* Commonly used libraries for Data Scientists
* Data Science Tools
* Examples of Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. NumPy
3. dplyr

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [27]:
# This a simple arithmetic expression to mutiply then add integers:
(3*4)+5

17

In [29]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
print(hours)

3.3333333333333335

## Author: 
Joseph Zick